@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #FFC72C;
  --color-primary-dark: #BB921F;
  --color-secondary: #1D428A;
  --color-surface-dark: #5780AE;
  --color-surface-light: #C0E3FF;
  --color-background: #FFFFFF;
  --color-destructive: #BE3A34;
  --color-destructive-dark: #93231E;
  --color-success: #22C55E;
  --color-success-dark: #1A9844;
  --color-text: #111111;
  --color-text-light: #BFBFBF;

  /* Fonts */
  --font-anton: "Anton", sans-serif;
  --font-lato: "Lato", sans-serif;

  /* Font Sizes */
  --font-size-heading1: 36px;
  --font-size-heading2: 32px;
  --font-size-heading3: 28px;
  --font-size-heading4: 24px;
  --font-size-heading5: 24px;
  --font-size-text-regular: 18px;
  --font-size-text-regular-2: 16px;
  --font-size-links: 14px;
  --font-size-small: 10px;
}
